//META{"name":"Small-members-tab-fixed(Feb 2020)","description":"Make the members tab smaller(it gets full size when you hover it).","author":"Beard_Design, MKody, NightCross00","version":"1.7.0"}*//{}

/*-------------------made by Beard Design-------------------------*/
.app {
  overflow-x: hidden;
}

/* Collapsed Member List */
div[class*="membersWrap-"] {
  transform: translate(0px);
  z-index: 2000;
  transition: all 400ms cubic-bezier(.2, 0, 0, 1);
  min-width: 60px !important;
  width: 60px !important
}

/* How far for expanded-memberlist to expand out */
div[class*="membersWrap-"]:hover {
  transform: translate(-181px);
}

/* Player Names disappear when compacted*/
div[class*="membersWrap-"] div[class*="members-"] div[class*="member-"] div[class*="memberInner-"] {
  opacity: 0;
  transition: all 400ms ease-in;
}

div[class*="membersWrap-"] div[class*="members-"]:hover div[class*="member-"] div[class*="memberInner-"] {
  opacity: 1;
}

/* Member Icon spacing adjustments + Misc */
div[class*="membersWrap-"] div[class*="members-"] div[class*="membersGroup-"] {
  position: relative;
  width: auto;
  height: auto;
  min-width: 10px;
  max-width: 90px;
  left: 36px;
  right: 45px;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  padding-top: 5px;
  transform: translate(-50%) scale(0.8);
  transition: 400ms cubic-bezier(.2, 0, 0, 1), max-width 1ms;
  display: inline-block;
  flex-basis: auto;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: normal;
}

div[class*="membersWrap-"] div[class*="members-"]:hover div[class*="membersGroup-"] {
  transform: translate(-15px) scale(1);
  max-width: 180px;
  text-overflow: 'a';
}

/* Collapsed - Role Headers*/
header[class*="membersGroup-"]{
    overflow: hidden;
    text-overflow: 'ellipsis';
    max-width: 66px;
    padding-left: 8px;
    padding-top: 17px;
    height: 35px;
}

/* Expanded - Role Headers*/
div[class*="membersWrap-"]:hover header[class*="membersGroup-"]{
  max-width: 216px;
  padding-left: 8px;
}

/* Avatar icon resizing */
div[class*="image-33JSyf small-5Os1Bb"] {
    transform:scale(1);
    height: 35px;
    width: 35px;
}

/*Broke by Oct. 2019 Discord Update but spacing seems ok,*/
/*Leaving this part commented out for future reference*/
/* Adjusting sizing between each member */
/*.member-2FrNV0{*/
/*    height: 45px;*/
/*}*/


/*Fixes the Status bubble icon (green/red/yellow/black circle) that overlays the avatar.*/
.status-2s6iDp {
    bottom: -7px;
    right: -10px;
}

/* TOFIX */
.header-toolbar button.active {
  display: none;
}

.chat.flex-vertical.flex-spacer.private>.content.flex-spacer.flex-horizontal>.flex-spacer.flex-vertical {
  margin-right: 0px;
  z-index: 0
}

/*-------------------made by Beard Design-------------------------*/
