//META{"name":"Small-members-tab","description":"Make the members tab smaller(it gets full size when you hover it).","author":"Beard_Design, MKody","version":"1.6.1"}*//{}

/*-------------------made by Beard Design-------------------------*/
.app {
  overflow-x: hidden;
}

div[class*="membersWrap-"] div[class*="members-"] {
  transform: translate(0px);
  z-index: 2000;
  transition: all 400ms cubic-bezier(.2, 0, 0, 1);
}

div[class*="membersWrap-"] div[class*="members-"]:hover {
  transform: translate(-150px);
}

div[class*="membersWrap-"] div[class*="members-"] div[class*="member-"] div[class*="memberInner-"] {
  opacity: 0;
  transition: all 100ms ease;
}

div[class*="membersWrap-"] div[class*="members-"]:hover div[class*="member-"] div[class*="memberInner-"] {
  opacity: 1;
}

div[class*="membersWrap-"] div[class*="members-"] div[class*="membersGroup-"] {
  transform: translate(-50%) scale(0.7);
  transition: 400ms cubic-bezier(.2, 0, 0, 1), max-width 1ms;
  width: auto;
  display: inline-block;
  min-width: 10px;
  left: 35px;
  position: relative;
  flex-basis: auto;
  box-sizing: border-box;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 90px;
  right: 0;
  text-align: left;
  padding-left: 0;
  padding-right: 0;
}

div[class*="membersWrap-"] div[class*="members-"]:hover div[class*="membersGroup-"] {
  transform: translate(-15px) scale(1);
  max-width: 180px;
  text-overflow: 'a';
}

div[class*="membersWrap-"] {
  min-width: 90px !important;
  width: 90px !important
}

/* TOFIX */
.header-toolbar button.active {
  display: none;
}

.chat.flex-vertical.flex-spacer.private>.content.flex-spacer.flex-horizontal>.flex-spacer.flex-vertical {
  margin-right: 0px;
  z-index: 0
}

/*-------------------made by Beard Design-------------------------*/
